* {
    margin: 0;
    padding: 0;
}

#header {
    position: relative;
}

#header img {
    width: 100vw;
}

.online {
    border-style: solid; 
    padding: 10px;
    background-color: red;
    color: antiquewhite;
    font-size: 2vh;
    text-decoration: none;
    margin: 0 10px;
}

/* .centered {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 12px;
} */

#hour-loc {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    padding: 3vw;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.day {
    color: rgb(174, 57, 57);
    font-size: 2.4vh;
}

p {
    font-size: 20px;
}

h1 {
    text-align: center;
}

.menu-options {
    display: flex;
    flex-wrap: wrap;
}

.item-parent {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 8vh;
}

.desc-options {
    font-size: 4vh;
    color: red;
}

@media only screen and (max-width: 400px) {
    .desc-options {
        font-size: 3vh;
    }
    .day {
        font-size: 2vh;
    }
}

@media only screen and (max-width: 450px) {
    .item-parent {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .item-parent {
        width: 33%;
    }
    #header img {
        width: 100vw;
        height: 100vh;
    }
    .day {
        font-size: 3vh;
    }
}

.item-img {
    height: 175px;
    border-radius: 1rem;
}

.menu-bar {
    padding: 10px;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-bar a {
    text-decoration: none;
    color: gray;
    font-size: 3vh;
    padding: 1vh;
}

.footer {
    width: 100%;
    height: 2vh;
    background-color: black;
}

.item-img {
    margin-bottom: 1vh;
}

.item-name {
    font-size: 2.25vh;
    margin-bottom: 1vh;
}

.item-description {
    margin-bottom: 2vh;
    font-size: 2vh;
    padding: 0vw 8vw;
}

.item-price {
    font-size: 2.4vh;
}

.description {
    text-align: center; 
    margin-bottom: 8vh;
}